body {
    background-image: url(fondEcranAnthem.jpg);
    /* background-color: brown; */
}

.card-header {
    border-bottom-width: 0px;
}

.card-title {
    text-align: center;
}

h1 {
    position: absolute;
}